Repository llmariner/inference-manager, pull requests merged in 2024-11, with the labels that each got.

#461 feat(api): support multiple content types in chat completion request
  api/v1/inference_server.pb.go
  api/v1/inference_server.proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  buf.lock
  dist/api/v1/inference_server.pb.d.ts
  dist/api/v1/inference_server.pb.js
  dist/api/v1/inference_server_embeddings.pb.d.ts
  dist/api/v1/inference_server_embeddings.pb.js
  dist/api/v1/inference_server_internal.pb.d.ts
  dist/api/v1/inference_server_internal.pb.js
  dist/api/v1/inference_server_worker.pb.d.ts
  dist/api/v1/inference_server_worker.pb.js
  dist/api/v1/legacy/inference_server_worker.pb.d.ts
  dist/api/v1/legacy/inference_server_worker.pb.js
  dist/fetch.pb.d.ts
  dist/fetch.pb.js
  ts/api/v1/inference_server.pb.ts
Labels: enhancement

#462 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#463 feat(chart): productionize helm chart
  .github/workflows/ci-pre-merge.yml
  Makefile
  deployments/engine/.helmignore
  deployments/engine/Chart.yaml
  deployments/engine/README.md
  deployments/engine/templates/configmap.yaml
  deployments/engine/templates/deployment.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  deployments/server/.helmignore
  deployments/server/Chart.yaml
  deployments/server/README.md
  deployments/server/templates/_helpers.tpl
  deployments/server/templates/configmap.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/templates/service.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#465 feat(server): add an option to enable/disable dynamic model loading
  deployments/server/templates/configmap.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/infprocessor/infprocessor_test.go
  server/internal/integrationtest/integration_test.go
  server/internal/router/router.go
  server/internal/router/router_test.go
  server/internal/taskexchanger/task_exchanger_test.go
Labels: enhancement

#467 feat(engine): set VLLM_RPC_TIMEOUT to a larger value
  engine/internal/runtime/vllm_client.go
Labels: enhancement

#468 feat(engine): change the vLLM version back to 0.6.2
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
Labels: enhancement

#466 chore(chart): fix a comment for PrometheusRule
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: skip-changelog

#471 feat(chart): add cronjob for regular runtime shutdown
  deployments/engine/templates/cronjob.yaml
  deployments/engine/templates/role.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
Labels: enhancement

#472 fix(chart): do not set the default value of s3.endpoinrUrl
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
Labels: bug

#473 feat(engine): propagate pod annotations to runtime pods
  deployments/engine/templates/configmap.yaml
  engine/internal/config/config.go
  engine/internal/runtime/client.go
Labels: enhancement

#474 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
  deployments/engine/values.schema.json
Labels: skip-changelog

#475 refactor(log): remove unused struct
  common/pkg/test/log.go
Labels: skip-changelog

#477 ci: add scripts for testing local inference server/engine
  .gitignore
  Makefile
  README.md
  configs/engine/config.yaml
  configs/server/config.yaml
  docker-compose.yaml
  hack/helm-apply-deps.sh
  hack/helm-apply-inference.sh
  hack/kind-config.yaml
  hack/overwrite-llma-chart-for-test.py
  hack/overwrite-llma-chart-for-test.sh
  hack/overwrite.yaml
  hack/values.yaml
Labels: skip-changelog

#478 fix(server): set StreamOptions only for streaming requests
  server/internal/server/completions.go
  server/internal/server/legacy_completions.go
Labels: bug

#481 ci(make): add target to re-apply and restarts components
  Makefile
  README.md
Labels: skip-changelog

#480 fix(engine): fix leader-election and runtime deletion handling
  engine/cmd/run.go
  engine/internal/processor/processor.go
  engine/internal/runtime/client.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: bug

#483 fix(engine/config): restore an unreferenced volume validation
  engine/internal/config/config.go
Labels: bug

#482 feat(runtime): set an engine Deployment as an owner of runtime StatefulSet
  deployments/engine/templates/deployment.yaml
  deployments/engine/templates/role.yaml
  engine/cmd/run.go
  engine/internal/runtime/client.go
  engine/internal/runtime/ollama_client.go
  engine/internal/runtime/triton_client.go
  engine/internal/runtime/vllm_client.go
Labels: enhancement

#485 feat(chart): add an enable option for the dependency condition
  deployments/engine/templates/_helpers.tpl
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  deployments/server/templates/_helpers.tpl
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#491 ci(chart): cleanup LLMariner Chart.lock for test
  Makefile
Labels: skip-changelog

#492 feat(api): support both array and string for the "content" field
  api/v1/inference_server.pb.go
  api/v1/inference_server.proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  buf.lock
  dist/api/v1/inference_server.pb.d.ts
  dist/api/v1/inference_server.pb.js
  server/internal/rag/rag.go
  server/internal/rag/rag_test.go
  server/internal/server/completions.go
  server/internal/server/completions_test.go
  server/internal/server/legacy_completions.go
  triton-proxy/internal/server/triton.go
  triton-proxy/internal/server/triton_test.go
  ts/api/v1/inference_server.pb.ts
Labels: enhancement

#493 fix(trition-proxy): remove an unneeded char in the prompt template
  triton-proxy/internal/server/triton.go
  triton-proxy/internal/server/triton_test.go
Labels: bug

#495 fix(engine): correctly set pod annotations for runtimes
  engine/internal/runtime/client.go
Labels: bug

#479 feat(api/engine): support audio chat completion
  Makefile
  api/v1/inference_server.pb.go
  api/v1/inference_server.proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  buf.lock
  build/vllm/Dockerfile
  dist/api/v1/inference_server.pb.d.ts
  engine/internal/runtime/vllm_client.go
  ts/api/v1/inference_server.pb.ts
Labels: enhancement

#496 fix(engine): unset legacyContent
  engine/internal/processor/processor.go
Labels: bug

#497 feat: support request-based rate-limiter
  deployments/server/templates/configmap.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  go.mod
  go.sum
  hack/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/rate/config.go
  server/internal/rate/gcra_ratelimit.lua
  server/internal/rate/limiter.go
  server/internal/rate/store.go
  server/internal/rate/store_test.go
  server/internal/server/completions.go
  server/internal/server/completions_test.go
  server/internal/server/embeddings.go
  server/internal/server/legacy_completions.go
  server/internal/server/server.go
  server/internal/server/ws_server.go
Labels: enhancement

#498 fix(chart): unset the default value of `enable`
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug

#499 ci(release): add bump option
  .github/workflows/manual-release-pr.yaml
Labels: skip-changelog

#502 ci: use memory as a rate limit backend in the local dev env
  hack/helm-apply-deps.sh
  hack/values.yaml
Labels: skip-changelog
