Repository llmariner/inference-manager, pull requests merged in 2024-12, with the labels that each got.

#503 feat: support vLLM on macOS for development
  Makefile
  README.md
  hack/helm-apply-inference.sh
  hack/values.vllm.yaml
  hack/values.yaml
Labels: enhancement

#504 refactor(chart): wrap optional values with `with`
  deployments/engine/templates/configmap.yaml
Labels: skip-changelog

#505 feat(engine): send component status message
  deployments/engine/templates/configmap.yaml
  deployments/engine/templates/role.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/cmd/run.go
  engine/internal/config/config.go
  go.mod
  go.sum
Labels: enhancement

#507 ci(apply-dep): support for installing extra dependency apps
  Makefile
  hack/helm-apply-deps.sh
Labels: skip-changelog

#506 feat(runtime): set runtime/model annotations to the pod template
  engine/internal/runtime/client.go
Labels: enhancement

#509 fix: bump cluster-manager dep to fix health reporting
  go.mod
  go.sum
Labels: bug

#510 chore: create a PodStatusSender only when enabled
  engine/cmd/run.go
Labels: skip-changelog

#512 chore(chart): remove unnecessary file
  deployments/engine/aa
Labels: skip-changelog

#513 feat: add a template for Llama3.3
  engine/internal/runtime/vllm_client.go
Labels: enhancement

#514 refactor(engine): rename Multiautoscaler to BuiltinScaler
  engine/cmd/run.go
  engine/internal/autoscaler/autoscaler.go
Labels: skip-changelog

#515 refactor(engine): rename files for the builtin scaler
  engine/internal/autoscaler/builtin.go
  engine/internal/autoscaler/builtin_test.go
Labels: skip-changelog

#516 refactor(engine): move scaler registerer from runtime to autoscaler pkg
  engine/cmd/run.go
  engine/internal/autoscaler/autoscaler.go
  engine/internal/runtime/manager.go
Labels: skip-changelog

#517 feat(engine)!: add KEDA integration for vLLM
  deployments/engine/templates/configmap.yaml
  deployments/engine/templates/role.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/cmd/run.go
  engine/internal/autoscaler/autoscaler.go
  engine/internal/autoscaler/builtin.go
  engine/internal/autoscaler/builtin_test.go
  engine/internal/autoscaler/config.go
  engine/internal/autoscaler/keda.go
  engine/internal/autoscaler/keda_test.go
  engine/internal/config/config.go
  engine/internal/metrics/metrics.go
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  go.mod
  go.sum
  hack/helm-apply-deps.sh
Labels: enhancement, breaking-change

#518 feat(engine): set --tensor-paralle-size for Inferentia nodes
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: enhancement

#521 fix(script): fix helmfile selecting flag
  hack/helm-apply-deps.sh
Labels: bug

#520 refactor(engine): rename metrics files to client
  engine/internal/metrics/client.go
  engine/internal/metrics/client_test.go
Labels: skip-changelog

#519 fix(engine): disable leader election when the autoscaler type is keda
  engine/cmd/run.go
Labels: bug

#522 feat(engine): expose inference engine metrics
  deployments/engine/templates/configmap.yaml
  deployments/engine/templates/deployment.yaml
  deployments/engine/templates/service.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/cmd/run.go
  engine/internal/config/config.go
  engine/internal/metrics/client.go
  engine/internal/metrics/metrics.go
Labels: enhancement

#523 feat(engine): update ScaledObjects during startup
  engine/cmd/run.go
  engine/internal/autoscaler/keda.go
  engine/internal/autoscaler/keda_test.go
Labels: enhancement

#525 feat(engine): be able to specify a scheduler name
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/internal/config/config.go
  engine/internal/config/model_config.go
  engine/internal/runtime/client.go
Labels: enhancement

#526 ci(local): disable component-status-sender in the local dev env
  hack/values.yaml
Labels: skip-changelog

#527 feat(engine): be able to configure runtime class from Helm values
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/internal/config/config.go
  engine/internal/config/model_config.go
  engine/internal/runtime/client.go
Labels: enhancement

#528 chore: remove the legacyContent field
  api/v1/inference_server.pb.go
  api/v1/inference_server.proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  buf.lock
  dist/api/v1/inference_server.pb.d.ts
  engine/internal/processor/processor.go
  server/internal/rag/rag.go
  server/internal/rag/rag_test.go
  server/internal/server/completions.go
  ts/api/v1/inference_server.pb.ts
Labels: skip-changelog

#529 fix(engine): add an Ollama template for deepseek-ai-DeepSeek-Coder-V2-Lite-Instruct
  engine/internal/ollama/ollama.go
Labels: bug

#530 fix(engine): set the default context length for deepseek
  engine/internal/ollama/ollama.go
Labels: bug

#532 feat(engine): make --chat-template optional
  engine/internal/runtime/vllm_client.go
Labels: enhancement

#533 fix(engine): make special_tokens_map.json optional
  engine/internal/modeldownloader/huggingface/download.go
Labels: bug
