Repository llmariner/inference-manager, pull requests merged in 2025-01, with the labels that each got.

#537 chore: fix a comment in findLeastLoadedEngine
  server/internal/router/route_map.go
Labels: skip-changelog

#536 feat: route request to another engine when the runtime fail to schedule
  engine/internal/processor/processor.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  hack/values.yaml
  server/internal/infprocessor/infprocessor.go
  server/internal/router/route_map.go
  server/internal/router/route_map_test.go
  server/internal/router/router.go
  server/internal/router/router_test.go
Labels: enhancement

#538 feat: bump vllm version to support Phi-4
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
Labels: enhancement

#539 feat(engine): add a template for phi-4
  engine/internal/runtime/vllm_client.go
Labels: enhancement

#541 fix(server): fix a data race in TestSendAndProcessTask
  server/internal/infprocessor/infprocessor_test.go
Labels: bug

#540 chore(engine): add a vlog on model pull error
  engine/internal/runtime/manager.go
Labels: skip-changelog

#542 fix(engine): ignore ErrRequestCanceled from Preloader.pullModel
  engine/internal/runtime/preloader.go
Labels: bug

#543 feat(engine): add ollama tempalte for Phi-4
  engine/internal/ollama/ollama.go
Labels: enhancement

#545 chore(engine): add the position of return bool values of addRunTime
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#546 fix(server): drop unneeded headers
  server/internal/server/completions.go
  server/internal/server/embeddings.go
  server/internal/server/legacy_completions.go
Labels: bug

#548 fix: avoid a 500 error from unmarshalling parameters
  api/v1/inference_server.pb.go
  api/v1/inference_server.proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  dist/api/v1/inference_server.pb.d.ts
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  server/internal/server/completions.go
  server/internal/server/completions_test.go
  ts/api/v1/inference_server.pb.ts
Labels: bug

#549 feat: support non-string format of embedding input
  api/v1/inference_server_embeddings.proto
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  server/internal/server/embeddings.go
  server/internal/server/embeddings_test.go
Labels: enhancement

#550 fix: fix bugs in the non-string input support
  api/v1/inference_server_embeddings.pb.go
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  dist/api/v1/inference_server_embeddings.pb.d.ts
  ts/api/v1/inference_server_embeddings.pb.ts
Labels: bug

#551 fix: correctly fix the input validation
  server/internal/server/embeddings.go
  server/internal/server/embeddings_test.go
Labels: bug

#552 fix: do not set --chat-template if set in vllmExtraFlags
  engine/internal/runtime/vllm_client.go
Labels: bug

#553 fix: support non-RAG tools
  server/internal/server/completions.go
Labels: bug

#554 fix: fix a bug in handleToolsForRAG
  go.mod
  server/internal/server/completions.go
  server/internal/server/completions_test.go
Labels: bug

#555 fix: make the tool choice follow the OpenAI API spec
  api/v1/inference_server.pb.go
  api/v1/inference_server.proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  dist/api/v1/inference_server.pb.d.ts
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  server/internal/server/completions.go
  server/internal/server/completions_test.go
  ts/api/v1/inference_server.pb.ts
Labels: bug

#556 chore: consolidate proto <-> open ai conversion
  common/pkg/api/completions.go
  common/pkg/api/completions_test.go
  common/pkg/api/convert.go
  common/pkg/api/embeddings.go
  common/pkg/api/embeddings_test.go
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  server/internal/server/completions.go
  server/internal/server/completions_test.go
  server/internal/server/embeddings.go
  server/internal/server/embeddings_test.go
Labels: skip-changelog
