Repository llmariner/inference-manager, pull requests merged in 2025-02, with the labels that each got.

#558 fix: update the ollama template for phi-4 to support tool calling
  engine/internal/ollama/ollama.go
Labels: bug

#559 fix: add tool_call_id
  api/v1/inference_server.pb.go
  api/v1/inference_server.proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.swagger.json
  buf.lock
  dist/api/v1/inference_server.pb.d.ts
  ts/api/v1/inference_server.pb.ts
Labels: bug

#561 feat(proto): add inference_status proto
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_status.pb.go
  api/v1/inference_server_status.pb.gw.go
  api/v1/inference_server_status.proto
  api/v1/inference_server_status.swagger.json
  api/v1/inference_server_status_grpc.pb.go
  api/v1/inference_server_worker.pb.go
  api/v1/inference_server_worker.proto
  api/v1/inference_server_worker.swagger.json
  dist/api/v1/inference_server_status.pb.d.ts
  dist/api/v1/inference_server_status.pb.js
  dist/api/v1/inference_server_worker.pb.d.ts
  ts/api/v1/inference_server_status.pb.ts
  ts/api/v1/inference_server_worker.pb.ts
Labels: enhancement

#562 docs: add a doc on inference request flow
  docs/development/inference_request_flow.md
  docs/development/inference_request_overview.png
  docs/development/inference_task_exchange.png
Labels: documentation

#564 docs: add a link to inference_request_flow.md to README.md
  README.md
Labels: documentation

#565 feat(server): setup status service
  deployments/server/templates/configmap.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/templates/ingress.yaml
  deployments/server/templates/service.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/status.go
Labels: enhancement

#568 feat: validate the cluster registration key
  engine/cmd/run.go
  go.mod
  go.sum
Labels: enhancement

#567 feat(server,engine): implement inference status
  api/v1/inference_server_grpc.pb.go
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_internal_grpc.pb.go
  api/v1/inference_server_status.swagger.json
  api/v1/inference_server_status_grpc.pb.go
  api/v1/inference_server_worker.pb.go
  api/v1/inference_server_worker.proto
  api/v1/inference_server_worker.swagger.json
  api/v1/inference_server_worker_grpc.pb.go
  deployments/server/templates/configmap.yaml
  deployments/server/templates/service.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  dist/api/v1/inference_server_worker.pb.d.ts
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/infprocessor/infprocessor.go
  server/internal/integrationtest/integration_test.go
  server/internal/server/status.go
  server/internal/server/ws_server.go
  ts/api/v1/inference_server_worker.pb.ts
Labels: enhancement

#571 fix: bump rbac-manager
  go.mod
  go.sum
Labels: bug

#574 fix: fix AccessResource
  server/internal/server/status.go
Labels: bug

#575 fix: register the http handler for the status endpoint
  server/cmd/run.go
Labels: bug

#573 chore: rename ListInferenceStatus to GetInferenceStatus
  api/v1/inference_server_status.pb.go
  api/v1/inference_server_status.pb.gw.go
  api/v1/inference_server_status.proto
  api/v1/inference_server_status.swagger.json
  api/v1/inference_server_status_grpc.pb.go
  dist/api/v1/inference_server_status.pb.d.ts
  dist/api/v1/inference_server_status.pb.js
  server/internal/server/status.go
  ts/api/v1/inference_server_status.pb.ts
Labels: skip-changelog

#576 fix: fix mux passed to RegisterInferenceServiceHandlerFromEndpoint
  server/cmd/run.go
Labels: bug

#577 fix: avoid a duplicate when a assigned envs has the same cluster twice
  server/internal/server/status.go
  server/internal/server/status_test.go
Labels: bug

#579 chore: add more test cases to TestGetInferenceStatus
  server/internal/server/status.go
  server/internal/server/status_test.go
Labels: skip-changelog

#581 chore: change the group name of the Prometheus Rule
  deployments/server/templates/prometheusrule.yaml
Labels: skip-changelog

#582 chore: update the metrics namespace and alert prefix to 'llmariner'
  deployments/server/templates/prometheusrule.yaml
  server/internal/monitoring/monitoring.go
Labels: skip-changelog

#583 fix(chart/engine): fix the helm scheme for model.resource.volume
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
Labels: bug

#585 fix(scaler/buildin): fix accidentally swapped name and namespace
  engine/internal/autoscaler/builtin.go
Labels: bug

#586 fix: fix the resources field in the configmap
  deployments/engine/templates/configmap.yaml
Labels: bug

#588 fix: set ClusterId from LocalEngines
  server/internal/infprocessor/infprocessor.go
Labels: bug

#589 fix: set EngineStatus.Ready to true
  server/internal/infprocessor/infprocessor.go
  server/internal/server/status.go
Labels: bug

#590 feat: add more per-cluster status
  api/v1/inference_server_status.pb.go
  api/v1/inference_server_status.proto
  api/v1/inference_server_status.swagger.json
  dist/api/v1/inference_server_status.pb.d.ts
  server/internal/server/status.go
  server/internal/server/status_test.go
  ts/api/v1/inference_server_status.pb.ts
Labels: enhancement

#591 chore(engine): make a minor refactoring to Reconcile
  engine/internal/runtime/manager.go
Labels: skip-changelog

#592 chore: add a test to GetGPU
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#593 fix: fix the calculation of per-cluster in-flight request
  server/internal/server/status.go
  server/internal/server/status_test.go
Labels: bug

#594 fix: use normal distroless image as a base image for the engine
  build/engine/Dockerfile
Labels: bug

#597 fix: set gpu when markRuntimeReady is called
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: bug
