Repository llmariner/inference-manager, pull requests merged in 2025-04, with the labels that each got.

#626 chore: change the download log message to show the destpath
  engine/internal/modeldownloader/common/common.go
Labels: skip-changelog

#625 fix: run 'ollama create' for newly pulled models in the dynamic loading mode
  engine/internal/runtime/client.go
  engine/internal/runtime/ollama_client.go
Labels: bug

#627 chore: add a comment on Ollama format in ModelFilePath
  engine/internal/modeldownloader/modeldownloader.go
Labels: skip-changelog

#629 fix: support fine-tuning models in Ollama dynamic mode
  engine/internal/runtime/ollama_client.go
Labels: bug

#631 fix: support Hugging Face format in Ollama
  engine/internal/runtime/model_format.go
  engine/internal/runtime/model_format_test.go
Labels: bug

#632 fix: add Ollama support of llama-3.2
  engine/internal/ollama/ollama.go
Labels: bug

#633 fix: make puller works for ollama fine-tuned models
  engine/cmd/pull.go
  engine/internal/modeldownloader/modeldownloader.go
Labels: bug

#635 chore: rename status http/grpc to management http/grpc
  api/v1/inference_server_management.pb.go
  api/v1/inference_server_management.pb.gw.go
  api/v1/inference_server_management.proto
  api/v1/inference_server_management.swagger.json
  api/v1/inference_server_management_grpc.pb.go
  deployments/server/templates/configmap.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/templates/ingress.yaml
  deployments/server/templates/service.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/management.go
  server/internal/server/management_test.go
  ts/api/v1/inference_server_management.pb.ts
Labels: skip-changelog

#636 chore: Move EngineStatus definition to inference_server_management.proto
  api/v1/inference_server_internal.pb.go
  api/v1/inference_server_internal.proto
  api/v1/inference_server_management.pb.go
  api/v1/inference_server_management.proto
  api/v1/inference_server_worker.pb.go
  api/v1/inference_server_worker.proto
  dist/api/v1/inference_server_internal.pb.d.ts
  dist/api/v1/inference_server_worker.pb.d.ts
  ts/api/v1/inference_server_internal.pb.ts
  ts/api/v1/inference_server_management.pb.ts
  ts/api/v1/inference_server_worker.pb.ts
Labels: skip-changelog

#637 chore: make minor refactoring to infprocessor.task
  server/internal/infprocessor/infprocessor.go
  server/internal/infprocessor/infprocessor_test.go
Labels: skip-changelog

#638 feat(server): support model activation/deactivation
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_management.pb.go
  api/v1/inference_server_management.pb.gw.go
  api/v1/inference_server_management.proto
  api/v1/inference_server_management.swagger.json
  api/v1/inference_server_management_grpc.pb.go
  api/v1/inference_server_worker.pb.go
  api/v1/inference_server_worker.proto
  api/v1/inference_server_worker.swagger.json
  dist/api/v1/inference_server_worker.pb.d.ts
  server/internal/infprocessor/infprocessor.go
  server/internal/server/management.go
  ts/api/v1/inference_server_management.pb.ts
  ts/api/v1/inference_server_worker.pb.ts
Labels: enhancement

#639 fix: make minor tweaks to model activation/deactivation RPC
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_management.pb.go
  api/v1/inference_server_management.pb.gw.go
  api/v1/inference_server_management.proto
  api/v1/inference_server_management.swagger.json
  api/v1/inference_server_worker.swagger.json
  server/cmd/run.go
  server/internal/infprocessor/infprocessor.go
  server/internal/server/completions.go
  server/internal/server/embeddings.go
  server/internal/server/legacy_completions.go
  server/internal/server/management.go
  ts/api/v1/inference_server_management.pb.ts
Labels: bug

#640 fix: have a separate model availability check
  server/internal/server/completions.go
  server/internal/server/embeddings.go
  server/internal/server/legacy_completions.go
  server/internal/server/management.go
Labels: bug

#641 feat(engine): implement model activation
  engine/internal/processor/processor.go
  server/internal/server/management.go
Labels: enhancement

#642 chore: clean up fake impls
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
Labels: skip-changelog

#643 fix: fix the mutex locking in deleteRuntime
  engine/internal/runtime/manager.go
Labels: bug

#644 feat(engine): support model deactivation
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  engine/internal/runtime/client.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_manager.go
Labels: enhancement

#646 feat: add an HTTP client for LoRA loading
  engine/internal/vllm/http_client.go
Labels: enhancement

#647 feat: add vllm.dynamicLoRALoading
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/cmd/run.go
  engine/internal/config/config.go
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: enhancement

#649 chore: facter out the puller client
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/puller_client.go
Labels: skip-changelog

#650 chore: add RuntimeName() to runtime.Client
  engine/internal/runtime/client.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_client.go
  engine/internal/runtime/triton_client.go
  engine/internal/runtime/vllm_client.go
Labels: skip-changelog

#651 chore: check the IsBaseModel field in IsBaseModel()
  engine/internal/models/models.go
  go.mod
  go.sum
Labels: skip-changelog

#652 chore: remove IsBaseModel
  engine/cmd/pull.go
  engine/internal/models/models.go
  engine/internal/runtime/ollama_client.go
  go.mod
  go.sum
Labels: skip-changelog

#653 chore(engine/runtime): clean up model config related logic
  engine/internal/runtime/client.go
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: skip-changelog

#654 feat: support dynamic LoRA loading
  engine/cmd/pull.go
  engine/cmd/run.go
  engine/internal/modeldownloader/modeldownloader.go
  engine/internal/runtime/client.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_client.go
  engine/internal/runtime/vllm_client.go
  engine/internal/vllm/http_client.go
Labels: enhancement

#655 chore: move some of the puller logic to a separate package
  engine/cmd/pull.go
  engine/internal/httputil/httputil.go
  engine/internal/puller/api.go
  engine/internal/puller/client.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/puller_client.go
Labels: skip-changelog

#656 chore: further refactor puller
  engine/cmd/pull.go
  engine/internal/puller/api.go
  engine/internal/puller/client.go
  engine/internal/puller/model_format.go
  engine/internal/puller/model_format_test.go
  engine/internal/puller/puller.go
  engine/internal/runtime/client.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/ollama_client.go
  engine/internal/runtime/triton_client.go
  engine/internal/runtime/vllm_client.go
Labels: skip-changelog

#657 chore: check model status when pulling
  engine/internal/puller/client.go
  engine/internal/puller/puller.go
  engine/internal/runtime/manager.go
Labels: skip-changelog

#658 fix: fix the path of the get model request
  engine/internal/puller/client.go
Labels: bug

#659 chore: factor out puller server
  engine/cmd/pull.go
  engine/internal/puller/puller.go
  engine/internal/puller/server.go
Labels: skip-changelog

#660 chore: further refacter puller
  engine/cmd/pull.go
  engine/internal/puller/puller.go
  engine/internal/puller/server.go
Labels: skip-changelog

#661 feat: add vllm unload LoRA client
  engine/internal/vllm/http_client.go
Labels: enhancement

#662 feat: add vllm ListModels call
  engine/internal/runtime/manager.go
  engine/internal/vllm/http_client.go
Labels: enhancement

#663 feat: unload LoRA when a model is being deleted
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/ollama_manager_test.go
Labels: enhancement

#664 chore: make tiny cleanup to puller server
  engine/cmd/pull.go
  engine/internal/puller/puller.go
Labels: skip-changelog

#665 fix: trigger reconcilation when task receiver stopped
  server/internal/taskexchanger/task_exchanger.go
Labels: bug

#666 fix: fix ListModels
  engine/internal/vllm/http_client.go
Labels: bug

#668 chore: maker puller.New take interfaces
  engine/internal/puller/puller.go
Labels: skip-changelog

#669 chore: move ExtractBaseModel to the config package
  engine/internal/config/model_config.go
  engine/internal/config/model_config_test.go
Labels: skip-changelog

#670 chore(puller): make model dir configurable
  engine/cmd/pull.go
  engine/internal/puller/puller.go
  engine/internal/puller/server.go
Labels: skip-changelog

#671 chore(puller): make the server take a Puller as interface
  engine/cmd/pull.go
  engine/internal/puller/puller.go
  engine/internal/puller/server.go
Labels: skip-changelog

#672 chore: make puller take modeldownloader
  engine/cmd/pull.go
  engine/internal/modeldownloader/modeldownloader.go
  engine/internal/puller/puller.go
  engine/internal/puller/server.go
Labels: skip-changelog

#673 chore: make puller take modeldownloader (#672)
  engine/internal/puller/puller_test.go
Labels: skip-changelog

#667 feat(dist): re-build `dist` files
  buf.lock
  dist/api/v1/inference_server_management.pb.d.ts
  dist/api/v1/inference_server_management.pb.js
  dist/inference_server.pb.d.ts
  dist/inference_server.pb.js
  dist/inference_server_worker.pb.d.ts
  dist/inference_server_worker.pb.js
  package.json
  ts/google/protobuf/descriptor.pb.ts
Labels: enhancement

#675 chore: add a unit test to puller.Server
  engine/internal/modeldownloader/modeldownloader.go
  engine/internal/puller/puller.go
  engine/internal/puller/puller_test.go
  engine/internal/puller/server.go
  engine/internal/puller/server_test.go
Labels: skip-changelog

#676 chore: make further cleanup to Puller interface
  engine/internal/modeldownloader/modeldownloader.go
  engine/internal/puller/puller.go
  engine/internal/puller/puller_test.go
Labels: skip-changelog

#677 chore: consolidate LoRA management code
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/manager.go
Labels: skip-changelog

#679 chore: make minor cleanup to manager
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/manager.go
Labels: skip-changelog

#680 chore: use a vllm-specific ListModelsResponse
  engine/internal/vllm/http_client.go
Labels: skip-changelog

#682 chore: refactor manager
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#685 chore: add listLoRAAdapters
  engine/internal/ollama/ollama.go
  engine/internal/runtime/lora_manager.go
Labels: skip-changelog

#686 feat: implement LoRAReconciler
  engine/cmd/run.go
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/lora_manager_test.go
  engine/internal/runtime/manager.go
  engine/internal/vllm/http_client_test.go
Labels: enhancement

#684 fix(dist): fix `index.js` and `index.d.ts` to re-export the up-to-dat…
  common.mk
  dist/api/v1/inference_server_status.pb.d.ts
  dist/api/v1/inference_server_status.pb.js
  dist/api/v1/legacy/inference_server_worker.pb.d.ts
  dist/api/v1/legacy/inference_server_worker.pb.js
  dist/index.d.ts
  dist/index.js
  package.json
  ts/api/v1/inference_server_status.pb.ts
  ts/api/v1/legacy/inference_server_worker.pb.ts
  ts/index.ts
Labels: bug

#687 fix: fix a bug on pod deleion handling
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/lora_manager_test.go
Labels: bug

#689 chore: add a test to LoRAReconciler.run
  engine/cmd/run.go
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/lora_manager_test.go
Labels: skip-changelog

#690 chore: remove finalizer logic
  engine/internal/runtime/manager.go
Labels: skip-changelog

#691 chore: make a minor fix to DeleteModel
  engine/internal/runtime/manager.go
Labels: skip-changelog

#692 chore: change runtime to have the mutation model
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/ollama_manager_test.go
Labels: skip-changelog

#693 fix: fix locking in waitForRuntimeToBeReady
  engine/internal/runtime/manager.go
Labels: bug

#695 chore: change the wait channel handling
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/ollama_manager_test.go
Labels: skip-changelog

#696 chore: make ollama manager mutate runtime
  engine/internal/runtime/ollama_manager.go
Labels: skip-changelog

#698 chore: overhawl runtime.manager
  engine/cmd/run.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/ollama_manager_test.go
  engine/internal/runtime/runtime.go
  engine/internal/runtime/runtime_test.go
Labels: skip-changelog

#699 chore: add a test to DeleteModel (and fix bugs)
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#700 chore: inject runtime checker
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#701 chore: add more logging to runtime.Manager
  engine/internal/runtime/manager.go
Labels: skip-changelog

#702 fix: fix bugs in LoRA adapter loading (and add a unit test)
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: bug

#704 fix: fix a data race in TestReconcile
  engine/internal/runtime/manager_test.go
Labels: bug

#703 chore: make vLLM logging level configurable
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/internal/config/config.go
  engine/internal/runtime/vllm_client.go
Labels: skip-changelog

#705 chore: consolidate puller port config
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/cmd/pull.go
  engine/cmd/run.go
  engine/internal/config/config.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_client.go
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: skip-changelog

#706 chore: factor out the pull logic from load()
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#708 chore: support multiple runtime addresses for upcoming changes
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/runtime.go
Labels: skip-changelog

#709 chore: tweak TestReconcile to avoid data race
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#710 feat: implement processLoRAAdapterUpdate
  engine/internal/runtime/events.go
  engine/internal/runtime/lora_manager.go
  engine/internal/runtime/lora_manager_test.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/runtime.go
Labels: enhancement

#711 fix: append auth token when calling GetModel
  engine/internal/runtime/manager.go
Labels: bug

#712 fix: set logger in the context of state machine
  engine/cmd/run.go
Labels: bug

#714 fix: fix nil-pointer-dereference from updateLoRALoadingStatusForPod
  engine/internal/runtime/lora_manager.go
Labels: bug

#715 feat: be able to configure image pull secrets
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/internal/config/config.go
  engine/internal/runtime/client.go
Labels: enhancement

#716 feat(server,engine): send engine status more frequently
  engine/internal/processor/processor.go
  server/internal/taskexchanger/task_receiver.go
  server/internal/taskexchanger/task_receiver_test.go
Labels: enhancement

#717 feat(server): disable rate limit if the user is excluded_from_rate_limiting
  go.mod
  go.sum
  server/internal/rate/limiter.go
Labels: enhancement

#718 fix: set auth token when creating a vllm deployment
  engine/internal/runtime/manager.go
Labels: bug

#719 fix: do not use ExtractUserInfoFromContext
  server/internal/rate/limiter.go
  server/internal/server/completions.go
  server/internal/server/embeddings.go
  server/internal/server/legacy_completions.go
Labels: bug

#720 chore: avoid status caching to simplify status consistency
  deployments/server/templates/configmap.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/infprocessor/infprocessor.go
  server/internal/infprocessor/infprocessor_test.go
  server/internal/server/management.go
  server/internal/server/management_test.go
Labels: skip-changelog

#721 chore: clean up todo comments
  engine/internal/puller/client.go
  engine/internal/runtime/client.go
Labels: skip-changelog

#723 feat: support graceful shutdown
  deployments/engine/templates/deployment.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  deployments/server/templates/configmap.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/server.go
  server/internal/server/ws_server.go
  server/internal/taskexchanger/task_exchanger.go
  server/internal/taskexchanger/task_receiver.go
Labels: enhancement

#724 fix: do not run recon if a task receiver is stopped due to context ca…
  server/internal/taskexchanger/task_exchanger.go
Labels: bug

#725 fix: call StartGracefulShutdown from main
  server/cmd/run.go
  server/internal/taskexchanger/task_exchanger.go
Labels: bug

#726 fix: fix an error handling in sendServerStatusPeriodically
  server/internal/taskexchanger/task_receiver.go
Labels: bug

#727 fix: fix error handling in run()
  server/internal/taskexchanger/task_receiver.go
Labels: bug

#728 fix: reset logger when calling Reconcile on error
  server/internal/taskexchanger/task_exchanger.go
Labels: bug

#729 chore: define processor.run() as a separate function
  engine/internal/processor/processor.go
Labels: skip-changelog

#730 chore: add test for model activation/deactivation
  engine/internal/processor/processor_test.go
Labels: skip-changelog

#731 feat: implement GoAway task
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_worker.pb.go
  api/v1/inference_server_worker.proto
  api/v1/inference_server_worker.swagger.json
  dist/api/v1/inference_server_worker.pb.d.ts
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  server/internal/taskexchanger/task_exchanger.go
  ts/api/v1/inference_server_worker.pb.ts
  ts/google/protobuf/descriptor.pb.ts
Labels: enhancement

#732 chore: move task and taskQueue to a separate file
  server/cmd/run.go
  server/internal/infprocessor/infprocessor.go
  server/internal/infprocessor/task.go
Labels: skip-changelog

#733 feat: create GoAway tasks on shutdown
  server/cmd/run.go
  server/internal/infprocessor/infprocessor.go
  server/internal/infprocessor/task.go
Labels: enhancement
