Repository llmariner/inference-manager, pull requests merged in 2025-06, with the labels that each got.

#873 chore: fix a comment typo
  engine/internal/runtime/client.go
Labels: skip-changelog

#872 feat(server,engine): use nim as runtime
  common/pkg/api/completions.go
  common/pkg/api/completions_test.go
  deployments/engine/templates/_helpers.tpl
  deployments/engine/templates/configmap.yaml
  deployments/engine/templates/secret.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  deployments/server/templates/configmap.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  engine/cmd/run.go
  engine/internal/config/config.go
  engine/internal/processor/processor.go
  engine/internal/processor/processor_test.go
  engine/internal/runtime/client.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/nim_client.go
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/completions.go
  server/internal/server/completions_test.go
  server/internal/server/server.go
Labels: enhancement

#874 feat: support insecureSkipVerify for s3
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/internal/config/config.go
  engine/internal/s3/client.go
  go.mod
  go.sum
Labels: enhancement

#876 fix: fix the validation of ngcconfig
  engine/internal/config/config.go
Labels: bug
