Repository llmariner/inference-manager, pull requests merged in 2025-09, with the labels that each got.

#997 chore: ignore --tensor-parallel-size for inference sim
  engine/internal/runtime/vllm_client.go
Labels: skip-changelog

#1000 chore: make minor tweak to model cache
  server/internal/server/model_cache.go
Labels: skip-changelog

#1001 feat: add model cache to engine
  engine/cmd/run.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/model_cache.go
  engine/internal/runtime/model_cache_test.go
  engine/internal/runtime/vllm_client_test.go
Labels: enhancement

#1002 chore: define helper function isBaseModel()
  engine/internal/runtime/vllm_client.go
Labels: skip-changelog

#1004 chore: rename modelClient to modelGetter in Manager
  engine/internal/runtime/manager.go
Labels: skip-changelog

#1003 feat: pass ModelCache to VLLMClient
  engine/cmd/run.go
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: enhancement

#1005 chore: define modelResourcesConf for upcoming change
  engine/internal/runtime/client.go
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: skip-changelog

#1006 feat: update gpu allocation with model config
  engine/internal/runtime/client.go
  engine/internal/runtime/client_test.go
  engine/internal/runtime/vllm_client.go
Labels: enhancement

#1015 fix: delete a drifted unscheduable pod
  engine/internal/runtime/drifted_pod_updater.go
  engine/internal/runtime/drifted_pod_updater_test.go
Labels: bug

#1017 feat: delete a crash-looping drifted pod
  engine/internal/runtime/drifted_pod_updater.go
  engine/internal/runtime/drifted_pod_updater_test.go
  engine/internal/runtime/pod_helper.go
Labels: enhancement

#1018 chore: make DeployRuntime take a Model proto
  engine/cmd/run.go
  engine/internal/runtime/client.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
  engine/internal/runtime/model_cache_test.go
  engine/internal/runtime/nim_client.go
  engine/internal/runtime/ollama_client.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/triton_client.go
  engine/internal/runtime/updater.go
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: skip-changelog

#1023 fix: fix nil pointer dereference from modelConfigItem
  engine/internal/runtime/client.go
Labels: bug

#1021 chore: merge preloader and activator
  engine/cmd/run.go
  engine/internal/runtime/model_activator.go
  engine/internal/runtime/model_activator_test.go
  engine/internal/runtime/preloader.go
Labels: skip-changelog

#1024 feat: support model deletion in OllamaManager
  engine/internal/httputil/httputil.go
  engine/internal/ollama/client.go
  engine/internal/puller/client.go
  engine/internal/runtime/ollama_manager.go
Labels: enhancement

#1025 fix: add missing Unlock() in processPullModelEvent
  engine/internal/runtime/manager.go
Labels: bug

#1026 chore: make a minor comment fix to commonClient
  engine/internal/runtime/client.go
Labels: skip-changelog

#1029 feat: add an annotation to track model config
  engine/internal/config/config.go
  engine/internal/runtime/client.go
Labels: enhancement

#1030 fix: add an annotation for model config only to a statefulset
  engine/internal/runtime/client.go
Labels: bug

#1032 fix: pass a sts name to newPendingRuntime()
  engine/internal/runtime/manager.go
Labels: bug

#1033 chore: remove client.Namespace()
  engine/cmd/run.go
  engine/internal/runtime/client.go
  engine/internal/runtime/lora_helpers.go
  engine/internal/runtime/lora_helpers_test.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/manager_test.go
Labels: skip-changelog

#1034 chore: remove an unused 'ctx' parameter
  engine/internal/runtime/client.go
  engine/internal/runtime/vllm_client.go
Labels: skip-changelog

#1035 fix: add missing Unlock() to processPullModelEvent
  engine/internal/runtime/manager.go
Labels: bug

#1037 chore: remove err from the return value of modelConfigItem
  engine/internal/runtime/client.go
  engine/internal/runtime/vllm_client.go
Labels: skip-changelog

#1047 feat: add ingress for /v1/tokenize
  deployments/server/templates/ingress.yaml
Labels: enhancement

#1049 feat: bump api-usage dep to 1.16.0
  go.mod
  go.sum
Labels: enhancement

#1050 fix: add a missing messages field to TokenizeRequest
  api/v1/inference_server_internal.swagger.json
  api/v1/inference_server_tokenize.pb.go
  api/v1/inference_server_tokenize.proto
  api/v1/inference_server_worker.swagger.json
Labels: bug

#1051 feat: implement the RPC handler for Tokenize
  common/pkg/api/completions.go
  common/pkg/api/completions_test.go
  common/pkg/api/embeddings.go
  common/pkg/api/tokenize.go
  server/internal/infprocessor/infprocessor.go
  server/internal/infprocessor/task.go
  server/internal/server/audio_transcriptions_test.go
  server/internal/server/completions_test.go
  server/internal/server/server.go
  server/internal/server/tokenize.go
Labels: enhancement

#1052 feat: support tokenize request in engine
  engine/internal/processor/processor.go
Labels: enhancement

#1053 fix: register the RPC handler for v1/tokenize
  server/cmd/run.go
Labels: bug

#1055 fix: add TokenizeRequest to processTask
  engine/internal/processor/processor.go
Labels: bug

#1057 feat: make tokenizer.json optional
  engine/internal/modeldownloader/huggingface/download.go
Labels: enhancement

#1058 fix: optionally download llava_qwen.py for apple/FastVLM-0.5B
  engine/internal/modeldownloader/huggingface/download.go
  engine/internal/modeldownloader/huggingface/download_test.go
Labels: bug

#1062 fix: gracefully handle an error from checkModelPullStatus
  engine/internal/runtime/manager.go
Labels: bug

#1063 feat: set TerminationMessagePolicy
  engine/internal/runtime/client.go
  engine/internal/runtime/triton_client.go
Labels: enhancement

#1064 feat: extract pod error message from terminated status
  deployments/engine/templates/role.yaml
  engine/internal/runtime/pod_monitor.go
  engine/internal/runtime/pod_monitor_test.go
Labels: enhancement

#1061 feat(engine): shutdown vllm engine gracefully
  engine/internal/runtime/client.go
  engine/internal/runtime/vllm_client.go
Labels: enhancement

#1066 fix: download chat_template.jinja optioonally
  engine/internal/modeldownloader/huggingface/download.go
  engine/internal/modeldownloader/huggingface/download_test.go
Labels: bug

#1072 fix: configure readiness check for sglang
  engine/internal/runtime/sglang_client.go
Labels: bug

#1074 fix: set --host=0.0.0.0 in sglang
  engine/internal/runtime/sglang_client.go
  engine/internal/runtime/vllm_client.go
Labels: bug
