Repository llmariner/inference-manager, pull requests merged in 2025-03, with the labels that each got.

#600 feat: support ollama format model
  engine/cmd/pull.go
  engine/internal/modeldownloader/modeldownloader.go
  engine/internal/runtime/model_format.go
  engine/internal/runtime/ollama_client.go
  go.mod
  go.sum
Labels: enhancement

#602 feat(api): generate `index.js` and `index.d.ts` in the `dist` directory
  buf.lock
  dist/index.d.ts
  dist/index.js
  ts/index.ts
Labels: enhancement

#604 fix: fix LoRA serviing in vLLM
  engine/internal/runtime/vllm_client.go
  engine/internal/runtime/vllm_client_test.go
Labels: bug

#606 chore: delete a duplicated line
  hack/values.yaml
Labels: skip-changelog

#607 feat: add daemon-mode for puller
  engine/cmd/pull.go
Labels: enhancement

#608 feat: bump the vllm image from v0.6.6.post1 to v0.7.3
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
Labels: enhancement

#609 feat(engine): add puller daemon mode to the runtime client
  deployments/engine/templates/configmap.yaml
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/cmd/pull.go
  engine/internal/config/config.go
  engine/internal/runtime/client.go
  engine/internal/runtime/ollama_client.go
Labels: enhancement

#610 feat(engine): add ollama manager for multiple model loading
  engine/cmd/pull.go
  engine/cmd/run.go
  engine/internal/runtime/manager.go
  engine/internal/runtime/ollama_client.go
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/preloader.go
Labels: enhancement

#615 chore: add a comment to the Always restart policy
  engine/internal/runtime/client.go
Labels: skip-changelog

#616 fix(ollama/dynamic): gracefully handle HTTP requests and redeploy if the runtime is deleted
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
  engine/internal/runtime/ollama_manager.go
  engine/internal/runtime/ollama_manager_test.go
  hack/values.yaml
Labels: bug

#617 feat: add Ollama template for Gemma3 and TinyLlama
  engine/internal/ollama/ollama.go
Labels: enhancement

#619 feat: bump ollama image
  deployments/engine/values.schema.json
  deployments/engine/values.yaml
Labels: enhancement

#621 fix: relax the gemma-3 model file detection
  engine/internal/ollama/ollama.go
Labels: bug

#622 fix: further relax the model check for gemma-3
  engine/internal/ollama/ollama.go
Labels: bug
